/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    margin-left: 1em;
}

table{
    border-spacing: 0;
}

/* clearfix */
.clearfix::after{
    content: '';
    clear: both;
    display: table;
}


/* font */
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');


body{
    width: 80%;
    margin: auto;
    font-family: 'Nova+Round', sans-serif;
}

h2{
    text-align: center;
    margin: 4% 0;
    color: rgb(211, 68, 112);
    font-size: 60px;
}

p{
    margin-bottom: 4%;
    text-align: center;
}

.container{
    margin-bottom: 50px;
}

.card{
    background-color: black;
    width: calc(100% / 3 - 5%);
    float: left;
    box-shadow: 1px 2px 3px 1px black;  
}

.card:nth-child(even){
    margin: 0 7.5%;
 }

img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    float: left;
}

img + div{
    padding: 10px;
    line-height: 1.7rem;
    color: white;
 }

a{
    text-decoration: none;
    color: darkcyan;
 }




